apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cb-project-apps
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/ChitRavi-automates/cb-project'
    targetRevision: main
    path: k8s/apps
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
